{% extends 'layout.html' -%}
{% import 'forms.html' as forms -%}
{% from "box_macros.html" import box -%}

{% block content -%}

{% set arches = [ "alpha", "arc", "arcv2", "arm", "arm64",
		  "blackfin",
		  "c6x", "cris", "crisv32", "frv",
		  "h8300", "hexagon", "i386", "ia64", "m32r", "m68k",
		  "m68k_nommu", "metag", "microblaze", "mips_22", "mips_24", "mips_25", "mn10300",
		  "nios2",
		  "openrisc",
		  "parisc", "parisc64", "powerpc",
		  "riscv",
		  "s390", "score", "sh", "sparc32", "sparc64",
		  "tile", "um", "unicore32", "x86_64", "xtensa" ] -%}

{% set qemu_arches = [ "alpha", "arm", "arm64", "crisv32",
			"m68k", "metag", "microblaze", "microblazeel",
			"mips", "mips64", "mipsel", "mipsel64",
			"nios2",
			"openrisc", "ppc", "ppc64",
			"s390", "sh", "sheb", "sparc", "sparc64",
			"x86", "x86_64", "xtensa" ] -%}

{% set releases = [ "3.2", "3.16", "3.18",
			"4.1", "4.4", "4.9", "4.14",
			"master", "next",
			"hwmon", "hwmon-next",
			"watchdog-next", "testing" ] -%}

{% set hwmon_releases = [ "master", "hwmon", "hwmon-next",
			"watchdog-next", "testing" ] -%}

{% set exists = [] -%}

<script type='text/javascript'>
{% for rel in releases -%}
  {% set exists = [] -%}
  {% set failed = [] -%}
  {% set rel_var = rel|regex_replace('[-.]','_') -%}
  var buildText_{{rel_var}} = [
  {% for arch in arches -%}
    {% if rel in hwmon_releases -%}
	{% set bname = "hwmon-" ~ arch ~ "-" ~ rel -%}
    {% elif rel in [ "mmotm" ] -%}
	{% set bname = "mmotm-" ~ arch ~ "-" ~ rel -%}
    {% elif rel in [ "next" ] -%}
	{% set bname = "next-" ~ arch ~ "-" ~ rel -%}
    {% else -%}
	{% set bname = "stable-queue-" ~ arch ~ "-" ~ rel -%}
    {% endif -%}
    {% for b in builders if b.name == bname and b.build_url and b.build_css_class -%}
      {% if b.build_text in ["exception buildcommand",
			     "exception interrupted"] -%}
	{% continue -%}
      {% endif -%}
      {% set summary = b.build_text|regex_replace('.*total', 'total') -%}
      {% set summary = summary|regex_replace('<!--.*', '') -%}
      {% if exists -%}, {% endif -%}
	"{{ summary }}"
      {% do exists.append("1") -%}
    {% endfor -%}
  {% endfor -%} ];

  {% set exists = [] -%}
  {% set building = 0 -%}

  var buildFailures_{{rel_var}} = [
  {% for arch in arches -%}
    {% if rel in hwmon_releases -%}
	{% set bname = "hwmon-" ~ arch ~ "-" ~ rel -%}
    {% elif rel in [ "mmotm" ] -%}
	{% set bname = "mmotm-" ~ arch ~ "-" ~ rel -%}
    {% elif rel in [ "next" ] -%}
	{% set bname = "next-" ~ arch ~ "-" ~ rel -%}
    {% else -%}
	{% set bname = "stable-queue-" ~ arch ~ "-" ~ rel -%}
    {% endif -%}
    {% for b in builders if b.name == bname and b.build_url and b.build_css_class -%}
      {% if b.build_text in ["exception buildcommand",
			       "exception interrupted"] -%}
	{% continue -%}
      {% endif -%}
      {% set fbuilds = b.build_text|regex_replace('.*<!-- +', '') -%}
      {% set fbuilds = fbuilds|regex_replace(' +-->.*', '') -%}
      {% if fbuilds != '' and fbuilds != b.build_text -%}
	{% set fbuilds = fbuilds|regex_replace(' +', ' ') -%}
	{% set fbuilds = fbuilds|split(' ') -%}
	{% for fbuild in fbuilds -%}
	  {% if exists -%}, {% endif -%}
		"{{ fbuild }}"
          {% do exists.append("1") -%}
	{% endfor -%}
      {% endif -%}
    {% endfor -%}
  {% endfor -%} ];

  var building_{{rel_var}} = {{ building }};

  function getResults_{{rel_var}} (match_string)
  {
    var num = 0;
    for (var i=0; i < buildText_{{rel_var}}.length; i++)
    {
        var elem = buildText_{{rel_var}}[i];
	var m = match_string.exec(elem);
	if (m) {
	    var match = /\d+/;
	    num += parseInt(match.exec(m));
	}
    }
    return num;
  }

  {% set exists = [] -%}

  var qemuBuildText_{{rel_var}} = [
  {% for arch in qemu_arches -%}
    {% set bname = "qemu-" ~ arch ~ "-" ~ rel -%}
    {% for b in builders if b.name == bname and b.build_url and b.build_css_class -%}
      {% if b.build_text in ["exception buildcommand",
			     "exception interrupted"] -%}
	{% continue -%}
      {% endif -%}
      {% if not 'total' in b.build_text -%}
        {% continue -%}
      {% endif -%}
      {% set summary = b.build_text|regex_replace('.*total', 'total') -%}
      {% set summary = summary|regex_replace('<!--.*', '') -%}
      {% if exists -%}, {% endif -%}
	"{{ summary }}"
      {% do exists.append("1") -%}
    {% endfor -%}
  {% endfor -%} ];

  {% set exists = [] -%}

  var qemuBuildFailures_{{rel_var}} = [
  {% for arch in qemu_arches -%}
    {% set bname = "qemu-" ~ arch ~ "-" ~ rel -%}
    {% for b in builders if b.name == bname and b.build_url and b.build_css_class -%}
      {% if b.build_text in ["exception buildcommand",
			       "exception interrupted"] -%}
	{% continue -%}
      {% endif -%}
      {% if not 'total' in b.build_text -%}
        {% continue -%}
      {% endif -%}
      {% set fbuilds = b.build_text|regex_replace('.*<!-- +', '') -%}
      {% set fbuilds = fbuilds|regex_replace(' +-->.*', '') -%}
      {% if fbuilds != '' and fbuilds != b.build_text -%}
	{% set fbuilds = fbuilds|regex_replace(' +', ' ') -%}
	{% set fbuilds = fbuilds|replace('qemu_', '') -%}
	{% set fbuilds = fbuilds|split(' ') -%}
	{% for fbuild in fbuilds -%}
	  {% if exists -%}, {% endif -%}
		"{{ fbuild }}"
          {% do exists.append("1") -%}
	{% endfor -%}
      {% endif -%}
    {% endfor -%}
  {% endfor -%} ];

  function qemuGetResults_{{rel_var}} (match_string)
  {
    var num = 0;
    for (var i=0; i < qemuBuildText_{{rel_var}}.length; i++)
    {
        var elem = qemuBuildText_{{rel_var}}[i];
	var m = match_string.exec(elem);
	if (m) {
	    var match = /\d+/;
	    num += parseInt(match.exec(m));
	}
    }
    return num;
  }

{% endfor -%}
</script>

<h1> Test results summary </h1>

<table border=1>
<tr>
{% for rel in releases -%}
    <th class="box">{{ rel }}</a></th>
{% endfor -%}
</tr>

 <tr>
  {% for rel in releases -%}
	{% set rel_var = rel|regex_replace('[-.]','_') -%}
	<script type='text/javascript'>
	    var qemu_total = qemuGetResults_{{rel_var}} (/total: \d+/);
	    var qemu_passed = qemuGetResults_{{rel_var}} (/pass: \d+/);
	    var qemu_skipped = qemuGetResults_{{rel_var}} (/skipped: \d+/);
	    var qemu_fail = qemuGetResults_{{rel_var}} (/fail: \d+/);
	    var total = getResults_{{rel_var}} (/total: \d+/);
	    var passed = getResults_{{rel_var}} (/pass: \d+/);
	    var skipped = getResults_{{rel_var}} (/skipped: \d+/);
	    var fail = getResults_{{rel_var}} (/fail: \d+/);
	    var box = "success";
	    var build = "successful";
	    if ((total == 0 && qemu_total == 0) || total == skipped) {
		box = "skipped";
		build = "skipped";
	    } else if (passed == 0 && qemu_passed == 0) {
		box = "failure";
		build = "failed";
	    } else if (fail > 0 || qemu_fail > 0) {
		box = "warnings";
		build = "warnings";
	    }
	document.write('<td class="LastBuild box ' + box + '">\n');
	document.write("Build results:<br>");
	total = total - skipped;
        document.write('total: ' + total +
			' pass: ' + passed +
			' fail: ' + fail);
	if (buildFailures_{{rel_var}}.length > 0) {
		document.write('<br>Failed builds:\n');
		for (var f=0; f < buildFailures_{{rel_var}}.length; f++) {
			document.write('<br>' + buildFailures_{{rel_var}}[f] + '\n');
		}
	}
	document.write("<br>Qemu test results:<br>");
	qemu_total = qemu_total - qemu_skipped;
        document.write('total: ' + qemu_total +
			' pass: ' + qemu_passed +
			' fail: ' + qemu_fail);
	if (qemuBuildFailures_{{rel_var}}.length > 0) {
		document.write('<br>Failed tests:\n');
		for (var f=0; f < qemuBuildFailures_{{rel_var}}.length; f++) {
			document.write('<br>' + qemuBuildFailures_{{rel_var}}[f] + '\n');
		}
		document.write('\n');
	}
        document.write('</td>\n');
	</script>
  {% endfor -%}
  </tr>
</table>

<br>
<h1> Build tests </h1>

<table border=1>
<tr>
<th></th>
{% for rel in releases -%}
    <th class="box">{{ rel }}</a></th>
{% endfor -%}
</tr>

{% for arch in arches -%}
  <tr>
  <td class="box"><b>{{ arch }}</b></a></td>
  {% for rel in releases -%}
    {% if rel in hwmon_releases -%}
	{% set bname = "hwmon-" ~ arch ~ "-" ~ rel -%}
    {% elif rel in [ "mmotm" ] -%}
	{% set bname = "mmotm-" ~ arch ~ "-" ~ rel -%}
    {% elif rel in [ "next" ] -%}
	{% set bname = "next-" ~ arch ~ "-" ~ rel -%}
    {% else -%}
	{% set bname = "stable-queue-" ~ arch ~ "-" ~ rel -%}
    {% endif -%}
    <td class="LastBuild box">
    <table align=center>
    {% for b in builders if b.name == bname -%}
      <tr>
      {% if b.build_url and b.build_css_class -%}
        <td class="LastBuild box {{ b.build_css_class }}">
          <a href="{{ b.build_url }}">{{ b.build_label }}</a>
	  <br>
          {% if b.build_css_class == 'skipped' -%}
            {{ b.build_text|replace('build successful', 'skipped') }}
	  {% else -%}
            {{ b.build_text|replace('build successful', 'successful') }}
	  {% endif -%}
        </td>
      {% else -%}
        <td class="LastBuild box skipped">no build</td>
      {% endif -%}
      </tr>
      <tr>
          {% if b.current_box.text[0] == 'waiting' -%}
            <td class="Activity idle"> idle </td>
	  {% else -%}
            {{ box(**b.current_box) }}
          {% endif -%}
      </tr>
    {% else -%}
        <tr><td class="LastBuild box skipped">skipped</td></tr>
    {% endfor -%}
    </table>
    </td>
  {% endfor -%}
  </tr>
{% endfor -%}
  <tr>
  <td class="box"><b>Compile Summary</b></a></td>
  {% for rel in releases -%}
	{% set rel_var = rel|regex_replace('[-.]','_') -%}
	<script type='text/javascript'>
	    var total = getResults_{{rel_var}} (/total: \d+/);
	    var passed = getResults_{{rel_var}} (/pass: \d+/);
	    var skipped = getResults_{{rel_var}} (/skipped: \d+/);
	    var fail = getResults_{{rel_var}} (/fail: \d+/);
	    var box = "success";
	    var build = "successful";
	    if (total == 0 || total == skipped) {
		box = "skipped";
		build = "skipped";
	    } else if (passed == 0) {
		box = "failure";
		build = "failed";
	    } else if (fail > 0) {
		box = "warnings";
		build = "warnings";
	    }
	document.write('<td class="LastBuild box ' + box + '">\n');
	// document.write(build + "<br>");
	total = total - skipped;
        document.write('total: ' + total +
			' pass: ' + passed +
			' fail: ' + fail);
	if (buildFailures_{{rel_var}}.length > 0) {
		document.write('<br>Failed builds:<br>\n');
		for (var f=0; f < buildFailures_{{rel_var}}.length; f++) {
			document.write(buildFailures_{{rel_var}}[f] + '<br>\n');
		}
		document.write('\n');
	}
        document.write('</td>\n');
	</script>
  {% endfor -%}
  </tr>
</table>

<br>
<h1>qemu tests</h1>

<table border=1>
<tr>
<th></th>
{% for rel in releases -%}
    <th class="box">{{ rel }}</a></th>
{% endfor -%}
</tr>

{% for arch in qemu_arches -%}
  <tr>
  <td class="box"><b>{{ arch }}</b></a></td>
  {% for rel in releases -%}
    {% set bname = "qemu-" ~ arch ~ "-" ~ rel -%}
    <td class="LastBuild box">
    <table align=center>
    {% for b in builders if b.name == bname -%}
      <tr>
      {% if b.build_url and b.build_css_class -%}
        <td class="LastBuild box {{ b.build_css_class }}">
          <a href="{{ b.build_url }}">{{ b.build_label }}</a>
          <br> {{ b.build_text|replace('build successful', 'successful') }}
      {% else -%}
        <td class="LastBuild box skipped">no build</td>
      {% endif -%}
      </td>
      </tr>
      <tr>
          {% if b.current_box.text[0] == 'waiting' -%}
            <td class="Activity idle"> idle </td>
	  {% else -%}
            {{ box(**b.current_box) }}
          {% endif -%}
      </tr>
    {% else -%}
        <tr><td class="LastBuild box skipped">skipped</td></tr>
    {% endfor -%}
    </table>
    </td>
  {% endfor -%}
  </tr>
{% endfor -%}

  <tr>
  <td class="box"><b>Qemu Summary</b></a></td>
  {% for rel in releases -%}
	{% set rel_var = rel|regex_replace('[-.]','_') -%}
	<script type='text/javascript'>
	    var total = qemuGetResults_{{rel_var}} (/total: \d+/);
	    var passed = qemuGetResults_{{rel_var}} (/pass: \d+/);
	    var skipped = qemuGetResults_{{rel_var}} (/skipped: \d+/);
	    var fail = qemuGetResults_{{rel_var}} (/fail: \d+/);
	    var box = "success";
	    var build = "successful";
	    if (total == 0 || total == skipped) {
		box = "skipped";
		build = "skipped";
	    } else if (passed == 0) {
		box = "failure";
		build = "failed";
	    } else if (fail > 0) {
		box = "warnings";
		build = "warnings";
	    }
	document.write('<td class="LastBuild box ' + box + '">\n');
	// document.write(build + "<br>");
	total = total - skipped;
        document.write('total: ' + total +
			' pass: ' + passed +
			' fail: ' + fail);
	if (qemuBuildFailures_{{rel_var}}.length > 0) {
		document.write('<br>Failed tests:<br>\n');
		for (var f=0; f < qemuBuildFailures_{{rel_var}}.length; f++) {
			document.write(qemuBuildFailures_{{rel_var}}[f] + '<br>\n');
		}
		document.write('\n<br>');
	}
        document.write('</td>\n');
	</script>
  {% endfor -%}
  </tr>
</table>

{% set imports = [ "master-updates", "stable-updates",
		"stable-queue-import", "stable-queue-import-3.2",
		"stable-queue-import-3.10",
		"stable-queue-import-4.1",
		] -%}

<br>
<h1>Source verification</h1>

<table border=1>
{% for b in builders if b.name in ('hwmon', 'hwmon-next') -%}
  <tr>
  <td class="box"><b><a href="{{ b.link }}">{{ b.name|e }}</a></b></td>
  <td>
  <table>
  <tr>
  {% if b.build_url and b.build_css_class -%}
    <td class="LastBuild box {{ b.build_css_class }}">
        <a href="{{ b.build_url }}">{{ b.build_label }}</a>
        <br/> {{ b.build_text|replace('build successful', 'successful') }}
    </td>
  {% else -%}
    <td class="LastBuild box">no build</td>
  {% endif -%}
  </tr>
  <tr> {{ box(**b.current_box) }}</tr>
  </table>
  </td>
  </tr>
{% endfor -%}
</table>

<br>
<h1> imports </h1>

<table>
<tr>
{% for b in builders if b.name in imports -%}
  <td>
  <table>
  <tr>
  {% if b.build_css_class -%}
    <td class="LastBuild box {{ b.build_css_class }}">
          <a href="{{ b.build_url }}">{{ b.build_label }}</a>
	  <br/>{{b.name}}
          <br/> {{ b.build_text|replace('build successful', 'successful') }}
    </td>
  {% else -%}
    <td class="LastBuild box skipped">{{b.name}} <br/> no build</td>
  {% endif -%}
  </tr>
  <tr>
          {{ box(**b.current_box) }}
  </tr>
  </table>
  </td>
{% else -%}
  <td class="LastBuild box skipped">no build</td>
{% endfor -%}
</tr>
</table>

<br>

{% set nostop = 1 -%}
{% set noselect = 1 -%}

{% if num_building > 0 and nostop == 0 -%}
  {% if authz.advertiseAction('stopAllBuilds', request) or authz.advertiseAction('stopBuild', request) -%}
    <h2>Stop Selected Builds</h2>
    {{ forms.stop_build(path_to_root+"builders/_selected/stopselected", authz, on_selected=True, builders=builders, label='Selected Builds') }}
    <h2>Stop All Builds</h2>
    {{ forms.stop_build(path_to_root+"builders/_all/stopall", authz, on_all=True, label='All Builds') }}
  {% endif -%}
{% endif -%}

{% if num_online > 0 -%}
  {% if authz.advertiseAction('forceAllBuilds', request) or authz.advertiseAction('forceBuild', request) -%}
   {% if noselect == 0 -%}
    <h2>Force Selected Builds</h2>
    {{ forms.force_build(path_to_root+"builders/_selected/forceselected", authz, request, on_selected=True, builders=builders, force_schedulers=force_schedulers, default_props=default_props) }}
   {% endif -%}
    <h2>Force All Builds</h2>
    {{ forms.force_build(path_to_root+"builders/_all/forceall", authz,request, on_all=True, force_schedulers=force_schedulers, default_props=default_props) }}
  {% endif -%}
{% endif -%}

{% endblock -%}
