{% extends 'layout.html' %}
{% import 'forms.html' as forms %}
{% from "box_macros.html" import box %}

{% block content %}

<h1>hwmon:</h1>

<table border=1>
{% for b in builders if 'hwmon' in b.name %}
  <tr>
  <td class="box"><b><a href="{{ b.link }}">{{ b.name|e }}</a></b></td>
  <td>
  <table>
  <tr>
  {% if b.build_url %}
    <td class="LastBuild box {{ b.build_css_class }}">
        <a href="{{ b.build_url }}">{{ b.build_label }}</a>
        <br/>{{ b.build_text }}
    </td>
  {% else %}
    <td class="LastBuild box">no build</td>
  {% endif %}  
  </tr>
  <tr> {{ box(**b.current_box) }}</tr>
  </table>
  </td>
  </tr>
{% endfor %}
</table>

<br>
<h1> stable queue: </h1>

<table border=1>
{% for b in builders if 'stable-queue' in b.name %}
  <tr>
  <td class="box"><b><a href="{{ b.link }}">{{ b.name|e }}</a></b></td>
  <td>
  <table>
  <tr>
  {% if b.build_url %}
    <td class="LastBuild box {{ b.build_css_class }}">
        <a href="{{ b.build_url }}">{{ b.build_label }}</a>
        <br/>{{ b.build_text }}
    </td>
  {% else %}
    <td class="LastBuild box">no build</td>
  {% endif %}  
  </tr>
  <tr> {{ box(**b.current_box) }}</tr>
  </table>
  </td>
  </tr>
{% endfor %}
</table>

<br>
<h1>qemu:</h1>

<table border=1>
<tr>
<th></th>
{% for rel in ["3.0", "3.4", "3.10" ] %}
    <th class="box">{{ rel }}</a></th>
{% endfor %}
</tr>

{% for target in [ "arm", "mips", "mips64", "ppc", "x86", "x86_64" ] %}
  <tr>
  <td class="box"><b>{{ target }}</b></a></td>
  {% for rel in ["3.0", "3.4", "3.10" ] %}
    {% set bname = "qemu-" ~ target ~ "-" ~ rel %}
    <td class="LastBuild box">
    <table align=center>
    {% for b in builders if b.name == bname %}
      <tr>
      <td class="LastBuild box {{ b.build_css_class }}">
          <a href="{{ b.build_url }}">{{ b.build_label }}</a>
          <br/>{{ b.build_text }}
      </td>
      </tr>
      <tr>
        {{ box(**b.current_box) }}  
      </tr>
    {% else %}
        <tr><td class="LastBuild box skipped">skipped</td></tr>
    {% endfor %}
    </table>
    </td>
  {% endfor %}
  </tr>
{% endfor %}

</table>

{% if num_building > 0 %}
  {% if authz.advertiseAction('stopAllBuilds', request) or authz.advertiseAction('stopBuild', request) %}
    <h2>Stop Selected Builds</h2>
    {{ forms.stop_build(path_to_root+"builders/_selected/stopselected", authz, on_selected=True, builders=builders, label='Selected Builds') }}
    <h2>Stop All Builds</h2>
    {{ forms.stop_build(path_to_root+"builders/_all/stopall", authz, on_all=True, label='All Builds') }}
  {% endif %}
{% endif %}
  
{% if num_online > 0 %}
  {% if authz.advertiseAction('forceAllBuilds', request) or authz.advertiseAction('forceBuild', request) %}
    <h2>Force Selected Builds</h2>
    {{ forms.force_build(path_to_root+"builders/_selected/forceselected", authz, request, on_selected=True, builders=builders, force_schedulers=force_schedulers, default_props=default_props) }}
    <h2>Force All Builds</h2>
    {{ forms.force_build(path_to_root+"builders/_all/forceall", authz,request, on_all=True, force_schedulers=force_schedulers, default_props=default_props) }}
  {% endif %}
{% endif %}

{% endblock %}
