bin/swtpm_bios
bin/swtpm_ioctl
bin/swtpm_localca
bin/swtpm_setup
cache
etc
libtpms
slave/qemu*
slave/hwmon*
slave/stable*
slave/watchdog*
slave/twistd.*
slave/master*
slave/mmotm*
slave/next*
slave/testing
master/qemu*
master/twistd*.log*
master/hwmon*
master/mmotm*
master/watchdog*
master/stable*
master/next*
master/master*
master/testing
master/gitpoller-workdir/
master/__pycache__/
master/*.log*
master/queue-workdir*/
master/staging-workdir/
master/state.sqlite*
master/templates/README.txt
master/twistd.pid
master/*.pyc
crosstool-ng
or1k
qemu-install
sparse
buildbot
smatch
swtpm
include
lib
share
genfatfs
virtual
virtualenv
