aboriginal
slave/qemu*
slave/hwmon*
slave/stable*
slave/watchdog*
slave/twistd.*
master/qemu*
master/hwmon*
master/watchdog*
master/stable*
master/gitpoller-workdir/
master/*.log
master/queue-workdir*/
master/staging-workdir/
master/state.sqlite
master/templates/README.txt
master/twistd.pid
qemu
buildroot
smatch
bin/qemu-*
include
lib
libexec
share
usr
