CONFIG_BUILTIN_DTB="dev88"
# CONFIG_SWAP is not set
CONFIG_SYSVIPC=y
CONFIG_LOG_BUF_SHIFT=14
CONFIG_BLK_DEV_INITRD=y
CONFIG_INITRAMFS_SOURCE="busybox-cris.cpio"
CONFIG_KALLSYMS=y
# CONFIG_EPOLL is not set
# CONFIG_SIGNALFD is not set
# CONFIG_TIMERFD is not set
# CONFIG_EVENTFD is not set
CONFIG_EMBEDDED=y
# CONFIG_COMPAT_BRK is not set
CONFIG_SLAB=y
CONFIG_MODULES=y
CONFIG_MODULE_UNLOAD=y
# CONFIG_BLK_DEV_BSG is not set
CONFIG_PARTITION_ADVANCED=y
# CONFIG_IOSCHED_DEADLINE is not set
# CONFIG_IOSCHED_CFQ is not set
# CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS is not set
CONFIG_ETRAX_CMDLINE="root=/dev/mtdblock3 init=/linuxrc rootfstype=jffs2 mmc_core.use_spi_crc=0 mmc_spi.spi_mode=3 init=/bin/sh"
CONFIG_ETRAX_WATCHDOG=y
CONFIG_ETRAX_FAST_TIMER=y
CONFIG_ETRAX_KMALLOCED_MODULES=y
CONFIG_ETRAXFS=y
CONFIG_ETRAX_DRAM_SIZE=32
CONFIG_ETRAX_MEM_GRP1_CONFIG=0x40688
CONFIG_ETRAX_MEM_GRP2_CONFIG=0x0
CONFIG_ETRAX_MEM_GRP3_CONFIG=0x06000002
CONFIG_ETRAX_MEM_GRP4_CONFIG=0x0
CONFIG_ETRAX_SDRAM_GRP0_CONFIG=0x114b
CONFIG_ETRAX_SDRAM_GRP1_CONFIG=0x0
CONFIG_ETRAX_SDRAM_TIMING=0x424a
CONFIG_ETRAX_SDRAM_COMMAND=0x0
CONFIG_ETRAX_DEF_GIO_PA_OE=0x7c
CONFIG_ETRAX_DEF_GIO_PA_OUT=0x00
CONFIG_ETRAX_DEF_GIO_PB_OE=0x3f111
CONFIG_ETRAX_DEF_GIO_PB_OUT=0x03000
CONFIG_ETRAX_DEF_GIO_PC_OE=0x03330
CONFIG_ETRAX_DEF_GIO_PC_OUT=0x00000
CONFIG_ETRAX_DEF_GIO_PD_OE=0x0015a
CONFIG_ETRAX_DEF_GIO_PD_OUT=0x00100
CONFIG_ETRAX_DEF_GIO_PE_OE=0x00000
CONFIG_ETRAX_DEF_GIO_PE_OUT=0x00000
CONFIG_ETRAX_LED_G_NET0="PA2"
CONFIG_ETRAX_LED_R_NET0="PA2"
CONFIG_ETRAX_V32_LED2G="PA3"
CONFIG_ETRAX_V32_LED2R="PA3"
CONFIG_ETRAX_V32_LED3G="PA3"
CONFIG_ETRAX_V32_LED3R="PA3"
CONFIG_NET=y
CONFIG_PACKET=y
CONFIG_UNIX=y
CONFIG_XFRM_USER=y
CONFIG_NET_KEY=y
CONFIG_INET=y
CONFIG_IP_MULTICAST=y
CONFIG_IP_ADVANCED_ROUTER=y
CONFIG_IP_MULTIPLE_TABLES=y
CONFIG_INET_AH=y
CONFIG_INET_ESP=y
CONFIG_INET_IPCOMP=y
# CONFIG_INET_XFRM_MODE_TRANSPORT is not set
# CONFIG_INET_XFRM_MODE_TUNNEL is not set
# CONFIG_INET_XFRM_MODE_BEET is not set
# CONFIG_INET_LRO is not set
CONFIG_IPV6=y
# CONFIG_INET6_XFRM_MODE_TRANSPORT is not set
# CONFIG_INET6_XFRM_MODE_TUNNEL is not set
# CONFIG_INET6_XFRM_MODE_BEET is not set
CONFIG_NETFILTER=y
# CONFIG_NETFILTER_ADVANCED is not set
CONFIG_NETFILTER_NETLINK_LOG=y
# CONFIG_NF_CONNTRACK is not set
# CONFIG_NETFILTER_XT_TARGET_NFLOG is not set
# CONFIG_NETFILTER_XT_TARGET_TCPMSS is not set
# CONFIG_NETFILTER_XT_MATCH_POLICY is not set
CONFIG_IP_NF_IPTABLES=y
CONFIG_IP_NF_FILTER=y
CONFIG_IP_NF_TARGET_REJECT=y
# CONFIG_IP_NF_MANGLE is not set
CONFIG_IP6_NF_IPTABLES=y
# CONFIG_IP6_NF_MATCH_IPV6HEADER is not set
CONFIG_IP6_NF_FILTER=y
CONFIG_IP6_NF_TARGET_REJECT=y
# CONFIG_IP6_NF_MANGLE is not set
CONFIG_NET_SCHED=y
CONFIG_NET_SCH_TBF=y
# CONFIG_WIRELESS is not set
CONFIG_ETRAX_ETHERNET=y
CONFIG_ETRAX_SERIAL_PORT0=y
CONFIG_ETRAX_SERIAL_PORT1=y
CONFIG_ETRAX_SERIAL_PORT2=y
CONFIG_ETRAX_SERIAL_PORT3=y
CONFIG_ETRAX_RS485=y
CONFIG_ETRAX_RS485_DISABLE_RECEIVER=y
CONFIG_ETRAX_PTABLE_SECTOR=262144
CONFIG_ETRAX_GPIO=y
CONFIG_ETRAX_PB_CHANGEABLE_BITS=0x3f000
CONFIG_ETRAXFS_SERIAL=y
CONFIG_ETRAX_AXISFLASHMAP=y
CONFIG_ETRAX_AXISFLASHMAP_MTD0WHOLE=y
CONFIG_ETRAX_NANDFLASH=y
CONFIG_ETRAX_NANDBOOT=y
CONFIG_ETRAX_PD_CHANGEABLE_DIR=0x00010
CONFIG_ETRAX_PD_CHANGEABLE_BITS=0x0011a
CONFIG_ETRAX_NETWORK_LED_ON_WHEN_LINK=y
CONFIG_ETRAX_SERIAL_PORT0_NO_DMA_OUT=y
CONFIG_ETRAX_SERIAL_PORT1_DMA5_IN=y
CONFIG_ETRAX_SERIAL_PORT1_DMA4_OUT=y
CONFIG_UEVENT_HELPER_PATH="/sbin/hotplug"
# CONFIG_FIRMWARE_IN_KERNEL is not set
CONFIG_MTD_RAM=y
CONFIG_MTDRAM_TOTAL_SIZE=0
CONFIG_MTDRAM_ERASE_SIZE=64
CONFIG_MTDRAM_ABS_POS=0x0
CONFIG_BLK_DEV_RAM=y
CONFIG_NETDEVICES=y
CONFIG_PPP=y
CONFIG_PPP_ASYNC=y
# CONFIG_WLAN is not set
# CONFIG_INPUT is not set
# CONFIG_SERIO is not set
# CONFIG_VT is not set
# CONFIG_LEGACY_PTYS is not set
# CONFIG_DEVKMEM is not set
CONFIG_SERIAL_ETRAXFS=y
CONFIG_SERIAL_ETRAXFS_CONSOLE=y
# CONFIG_HW_RANDOM is not set
CONFIG_I2C=y
# CONFIG_I2C_HELPER_AUTO is not set
CONFIG_I2C_ALGOBIT=y
# CONFIG_USB_SUPPORT is not set
CONFIG_RTC_CLASS=y
CONFIG_RTC_DRV_PCF8563=y
CONFIG_EXT4_FS=y
CONFIG_MSDOS_FS=y
CONFIG_VFAT_FS=y
CONFIG_PROC_KCORE=y
CONFIG_TMPFS=y
CONFIG_JFFS2_FS=y
CONFIG_NFS_FS=y
CONFIG_NLS_CODEPAGE_437=y
CONFIG_NLS_ISO8859_1=y
CONFIG_NLS_UTF8=y
CONFIG_SYSTEM_PROFILER=y
# CONFIG_CRYPTO_ANSI_CPRNG is not set
